{
  "printWidth": 80,
  "tabWidth": 2,
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "insertPragma": false,
  "endOfLine": "lf"
}
